extends layout

include mixins/_reviewForm
include mixins/_review

block content
  //- pre= h.dump(image)
  //- pre= h.dump(image.reviews) (we put reviews as virtual in Image.js, so we had to fix it with toJSON: { virtuals: true },)
  .single
    .single__hero
      img.single__image(src=`/uploads/${image.photo || 'image-placeholder.png'}`)
      h2.title.title--single
        a(href=`/image/${image.slug}`) #{image.name}
  .single__details.inner
    .right-panel
      img.single__map(src=h.staticMap(image.location.coordinates))
      p.single__location= image.location.address
      .subtitle--single Additional Details

      p= image.description

      if image.tags
        ul.tags
          each tag in image.tags
            li.tag
              a.tag__link(href=`/tags/${tag}`)
                span.tag__text ##{tag}
    .clearfix
    if user
      +reviewForm(image)

    if image.reviews
      .reviews
        each review in image.reviews
          .review
            +review(review)