extends layout

block content
  .inner
    h2 Top #{images.length} Images
    table.table
      thead
        td photo
        td ranking
        td name
        td reviews
        td Average Rating
        //- pre= h.dump(images)
      each image, i in images

        tr
          td
            a(href=`/image/${image.slug}`)
              img(width=300 src=`/uploads/${image.photo || 'image-placeholder.png'}` alt=image.name)
          td #{i + 1}
          td: a(href=`/image/${image.slug}`)= image.name
          td= image.reviews.length
          td #{Math.round(image.averageRating * 10) / 10} / 5